.main {
  width: 100%;
  background-color: $grey-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 150px;
  box-sizing: border-box;
}

.box-h1 {
  font-size: 76px;
  line-height: 0.9;
}

.box-text {
  font-size: 32px;
  margin-top: 20px;
  color: $black-color;
}

.main-grid {
  margin-top: 150px;
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 550px);
  box-sizing: border-box;
}

.main-item-img {
  width: 100%;
  min-width: 500px;
  height: 80%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень */
}

.main-item-text {
  font-size: 20px;
  margin-top: 10px;
  color: $black-color;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 30px;
}

label {
  font-size: 18px;
}

input {
  background-color: $grey-color;
  border-radius: 10px;
  width: 200px;
  height: 25px;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-v2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 89vh;
  align-items: flex-start;
  padding: 50px 150px;
  box-sizing: border-box;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.main-table {
  width: 500px;
}

.table-item * {
  padding: 20px;
}

td {
  border: 1px solid;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .main {
    width: 100vh;
    padding: 0px;
  }
  .main-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 550px);
  }
}
