@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
a:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #d8d8d8;
  width: 100%;
  box-sizing: border-box;
}

.header-item {
  color: rgb(0, 0, 0);
  font-family: Roboto Mono;
  font-weight: 600;
  font-size: 24px;
}

.header-item:hover {
  color: #7a7676;
}

.header-href {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (max-width: 1200px) {
  .header-href {
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .header-logo {
    display: none;
  }
  .header {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-item {
    font-size: 16px;
  }
}
.main {
  width: 100%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 150px;
  box-sizing: border-box;
}

.box-h1 {
  font-size: 76px;
  line-height: 0.9;
}

.box-text {
  font-size: 32px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}

.main-grid {
  margin-top: 150px;
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 550px);
  box-sizing: border-box;
}

.main-item-img {
  width: 100%;
  min-width: 500px;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень */
}

.main-item-text {
  font-size: 20px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 30px;
}

label {
  font-size: 18px;
}

input {
  background-color: #d8d8d8;
  border-radius: 10px;
  width: 200px;
  height: 25px;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-v2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 89vh;
  align-items: flex-start;
  padding: 50px 150px;
  box-sizing: border-box;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.main-table {
  width: 500px;
}

.table-item * {
  padding: 20px;
}

td {
  border: 1px solid;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .main {
    width: 100vh;
    padding: 0px;
  }
  .main-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 550px);
  }
}
html,
body,
h1,
p,
a,
tr,
td {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto Mono;
}

html {
  background-color: #d8d8d8;
}