@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

$white-color: white;
$black-color: black;
$grey-color: #d8d8d8;

a:hover {
  cursor: pointer;
}
